body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(204, 176, 176, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.checked {
    text-decoration: line-through;
    text-align: left;
}

.img-logo {
    margin-top: 2rem;
    margin-right: 2rem;
    border-radius: 50%;
}